{% extends 'base.html' %}
{% block title %} detail || {{block.super}} {% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>
	<div class="ui small images">
		<img class="ui image" src="{{object.image.url}}">
	</div>
<p>{{ object.content }}</p>
<p>Created: {{ object.timestamp }}</p>
<p>Last updated: {{ object.updated }}</p>
<p>Date: {{ now|date }}</p>
{% endblock content %}